<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}">

    {{! Google Analytics }}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68143020-1', 'auto');
      ga('send', 'pageview');

    </script>

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/input.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">

  <!-- CUSTOM HOVALIN NAV FOR NON MOBILE DISPLAYS-->
  <div id="custom-navigation" class="hidden-sm hidden-xs row">
    <div class="col-sm-2 no-padding">
      <a class="desktop-logo" href="/">
        HOVALIN
      </a>
    </div>
    <div class="col-sm-10 no-padding">
      <ul class="top-nav-ul">
        <a href="/make"><li><p>Make</p></li></a>
        <a href="/buy"><li><p>Buy</p></li></a>
        <a href="/faq"><li><p>FAQ</p></li></a>
        <a href="/author/matt/"><li><p>Blog</p></li></a>
        <a href="/contact"><li><p>Contact</p></li></a>
        <a href="/#donate"><li class="support-button"><p>Donate</p></li></a>
      </ul>
    </div>
  </div>
  <!-- /CUSTOM HOVALIN NAV FOR NON MOBILE DISPLAYS-->

      {{navigation}}

    <div class="site-wrapper">

      <div id="mobile-nav" class="row hidden-md hidden-lg mobile-nav">
        <h2 class="mobile-nav-logo"><a href="/">HOVALIN</a></h2>
        <button class="toggle-menu menu-right push-body icon-menu"><i class="fa fa-bars"></i></button>
      </div>

      <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right hidden-md hidden-lg">
      	<a href="/make">Make</a>
      	<a href="/buy">Buy</a>
        <a href="/faq">FAQ</a>
        <a href="/author/matt/">Blog</a>
      	<a href="/contact">Contact</a>
      	<a href="/#donate">Donate</a>
      </nav>

        {{! Everything else gets inserted here }}
        {{{body}}}

        <footer class="site-footer clearfix">
            <section class="poweredby">Powered by <a href="http://thehovas.com/">The Hovas</a></section>
            <section class="copyright">{{@blog.title}} &copy; {{date format="YYYY"}}</section>
        </footer>

    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script type="text/javascript" src="{{asset "js/jquery-1.11.3.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/pushmenu.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/bootstrap.min.js"}}"></script>
    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <!--call jPushMenu, required-->
    <script>
    jQuery(document).ready(function($) {
    	$('.toggle-menu').jPushMenu();
    });
    </script>


</body>
</html>
