<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <script src="https://use.typekit.net/ksu7yrh.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/pushmenu.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">

  <!-- CUSTOM HOVALIN NAV FOR NON MOBILE DISPLAYS-->
  <div id="custom-navigation" class="hidden-sm hidden-xs row">
    <div class="col-sm-2 no-padding">
      <h2 class="nav-logo"> HOVALIN</h2>
    </div>
    <div class="col-sm-10 no-padding">
      <ul class="top-nav-ul">
        <li><p>About</p></li>
        <li><p>Print</p></li>
        <li><p>Buy</p></li>
        <li><p>Contact</p></li>
        <li class="support-button"><p>Support</p></li>
      </ul>
    </div>
  </div>
  <!-- /CUSTOM HOVALIN NAV FOR NON MOBILE DISPLAYS-->

      {{navigation}}

    <div class="site-wrapper">

      <div class="row hidden-md hidden-lg mobile-nav">
        <h2 class="mobile-nav-logo">HOVALIN</h2>
        <button class="toggle-menu menu-right push-body icon-menu"></button>
      </div>

      <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right hidden-md hidden-lg">
      	<a href="#">About</a>
      	<a href="#">Print</a>
      	<a href="#">Buy</a>
      	<a href="#">Contact</a>
      	<a href="#">Support</a>
      </nav>

        {{! Everything else gets inserted here }}
        {{{body}}}

        <footer class="site-footer clearfix">
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
            <section class="poweredby">Powered by <a href="http://thehovas.com/">The Hovas</a></section>
        </footer>

    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/pushmenu.js"}}"></script>
    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <!--call jPushMenu, required-->
    <script>
    jQuery(document).ready(function($) {
    	$('.toggle-menu').jPushMenu();
    });
    </script>


</body>
</html>
