{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}
        {{/if}}
    </nav>
</header>

<div id="shopping-items">
  <div class="row">

    <div id="kit" class="col-sm-6 item">
      <h1>The Official DIY kit</h1>
      <p>Everything you need</p>
      <a href="../kit">
        <button class="buy-it">BUY</button>
      </a>
    </div>

    <div id="fully-assembled-hovalin" class="col-sm-6 item">
      <h1>Assembled Hovalin</h1>
      <p>No assembly required</p>
      <a href="../hovalin">
        <button class="buy-it">BUY</button>
      </a>
    </div>
  </div>

  <div class="row">
    <div id="parts" class="col-sm-6 item">
      <h1>3D Printed Parts</h1>
      <p>No 3d printer? no problem.</p>
      <a href="../parts">
        <button class="buy-it">BUY</button>
      </a>
    </div>

  </div>

</div>
{{/post}}
