{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
  <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
    {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
    {{#if @blog.navigation}}
    {{/if}}
  </nav>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</header>

<main class="content" role="main">
  <article class="">
    <div class="black-bg">
      <div id="contact-hero">
        <div class="container">
          <h1 class="hero-title">Contact us</h1>
          <p>We're interested in your feedback and questions!</p>
          <p>Happy <span id="today">Saturday</span>,</p>

          <p><a href="http://matthova.com/" target="_blank">MATT HOVA</a> & <a href="http://www.kaitlynhova.com/" target="blank">KAITLYN HOVA</a></p>
        </div>
      </div><!--/hero -->
    </div>

    <div id="contact-area">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 contact-form-area">
            <h1>What's up?</h1>
            <p>We give Hovalin performances, work with schools, promote STEM education, give Maker/DIY talks, and give highfives. </p>
            <div id="contact-form">
              <div class="row">
                <div class="col-xs-12 no-padding">
                  <form id="contact-form" method="POST">
                    <fieldset>
                      <ul>
                        <li>
                          <label for="email">Email</label>
                          <input id="form-email" name="email" type="email" placeholder="awesome@email.com" required>
                        </li>
                        <li>
                          <label for="msg">Message</label>
                          <textarea id="form-msg" name="msg" type="text" placeholder="what's up?" required></textarea>
                        </li>
                        <li>
                          <div style="color:'red'"class="g-recaptcha" data-sitekey="6LeRzAwTAAAAADpDxn8jJJ4T32cAh-sH4hLW-FyW"></div>
                        </li>
                        <li>
                          <input type="submit" value="Submit">
                        </li>
                      </ul>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
            <center><div id="form-feedback"></div></center>
          </div> {{! end col xs 6}}
        </div>
      </div>
    </div>
  </article>
</main>
{{/post}}
<script type="text/javascript" src="{{asset "js/jquery-1.11.3.min.js"}}"></script>
<script>
  $( document ).ready(function() {
    // When submitting the form
    // give half a second to load a gif before kicking off the ajax
    // if the email was successful redirect the user to the homepage after 2 seconds
    $("#contact-form").submit(function(e){
      e.preventDefault();
      $("#email-gif").attr('src','{{asset "images/email.gif"}}');
      setTimeout(function(){
        $.ajax({
          type: "POST",
          //url: "https://hova-mailgun-server.herokuapp.com/",
          url: "/mailgun_contact",
          async: true,
          data: {
            "email": $("#form-email").val(),
            "msg": $("#form-msg").val(),
            "g-recaptcha-response": grecaptcha.getResponse()
          },
          success: function(res) {
            if (res === "Email successfully sent") {
              $("#form-feedback").text("<p class="sucess">Email successfully sent</p>");
              $("#email-gif").attr('src','{{asset "images/email_done.png"}}');
                //redirect the user to the homepage
                setTimeout(function(){
                    window.location = '/';
                }, 2000);
            } else {
              $("#email-gif").attr('src','{{asset "images/email_holder.png"}}');
              $("#form-feedback").text("<p class="error">Email error</p>");
            }
          }
        });
      }, 500);
      return true;
    });
  });
</script>