{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}
        {{/if}}
    </nav>
</header>

<main class="content" role="main">
  <article class="">
    <div class="black-bg">
      <div id="docs-hero">
        <h1>Let's make a violin</h1>
        <p id="docs-subheadline" class="powered-by">Awesome</p>
        <a href="assets/files/Archive.zip" class="download-button">Download 1.0</a>
      </div><!--/hero -->
    </div>
    <div id="docs-subnav" class="hidden-xs">
      <div class="row">
        <a href="#shopping-list">
          <div class="col-md-2 col-sm-6 col-xs-6 step-index">
            <p class="number">1</p>
            <p>Shopping List</p>
          </div>
        </a>
        <a href="#print-the-parts">
          <div class="col-md-2 col-sm-6 col-xs-6 step-index">
            <p class="number">2</p>
            <p>Print Parts</p>
          </div>
        </a>
        <a href="#sand-the-neck">
          <div class="col-md-2 col-sm-6 col-xs-6 step-index">
            <p class="number">3</p>
            <p>Sand The Neck</p>
          </div>
        </a>
        <a href="#install-pegs">
          <div class="col-md-2 col-sm-6 col-xs-6 step-index">
            <p class="number">4</p>
            <p>Install Pegs</p>
          </div>
        </a>
        <a href="#install-carbon">
          <div class="col-md-2 col-sm-6 col-xs-6 step-index">
            <p class="number">5</p>
            <p>Install Rods</p>
          </div>
        </a>
        <a href="#install-strings">
          <div class="col-md-2 col-sm-6 col-xs-6 step-index">
            <p class="number">6</p>
            <p>Install Strings</p>
          </div>
        </a>
      </div><!--/row -->
    </div> <!--/docs-subnav -->

    <div id="maker-warning" class="step">
      <div class="container">
        <i class="fa fa-exclamation-triangle"></i>
        <p>Warning!!! As with any craft, violin making and 3D printing requires attention to safety. Do not attempt to build the violin without parental supervision. When in doubt, ask for assistance.</p>
      </div>
    </div>

    <div id="shopping-list" class="step">
      <p class="number">1</p>
      <div class="container">
        <p class="title">Shopping List</p>
        <div class="row">
          <div class="col-md-6">

            <div class="list-item">
              <div class="col-xs-2">
                <img class="check" src="/assets/images/check.svg">
              </div>
              <div class="col-xs-10">
                <h3>3D PRINTER</h3>
                <p>We recommend using a printer the size of the Dremel Idea Builer, or larger.</p>
                <p>Here are some printers that we recommend.</p>
                <ul>
                  <li>Printer 1</li>
                  <li>Printer 2</li>
                  <li>Printer 3</li>
                </ul>
              </div>
            </div><!--/list-item --->

            <div class="list-item">
              <div class="col-xs-2">
                <img class="check" src="/assets/images/check.svg">
              </div>
              <div class="col-xs-10">
                <h3>PLASTIC</h3>
                <p>We like Hatchbox filament because of it's quality and low cost, but any filament on Amazon with a 4 star rating from more than 10 people is probably fine.</p>
                <p>Link to Hatchbox Filament</p>
              </div>
            </div><!--/list-item --->

            <div class="list-item">
              <div class="col-xs-2">
                <img class="check" src="/assets/images/check.svg">
              </div>
              <div class="col-xs-10">
                <h3>TUNERS</h3>
                <p>The Hovalin is designed specifically to these tuners' dimensions</p>
              </div>
            </div><!--/list-item --->
            <div class="list-item">
              <div class="col-xs-2">
                <img class="check" src="/assets/images/check.svg">
              </div>
              <div class="col-xs-10">
                <h3>ROSIN</h3>
                <p>Rosin helps to keep your violin from squeaking.</p>
                <p>Here are a few brands of bows that we suggest.</p>
                <ul>
                  <li>Rosin 1</li>
                  <li>Rosin 2</li>
                  <li>Rosin 3</li>
                </ul>
              </div>
            </div><!--/list-item --->
          </div>
          <div class="col-md-6">

            <div class="list-item">
              <div class="col-xs-2">
                <img class="check" src="/assets/images/check.svg">
              </div>
              <div class="col-xs-10">
                <h3>STRINGS</h3>
                <p>Strings can be expensive. We are fans of high value, low cost.</p>
                <p>Here are a few brands of strings that we endorse.</p>
                <ul>
                  <li>Strings 1</li>
                  <li>Strings 2</li>
                  <li>Strings 3</li>
                </ul>
              </div>
            </div><!--/list-item --->

            <div class="list-item">
              <div class="col-xs-2">
                <img class="check" src="/assets/images/check.svg">
              </div>
              <div class="col-xs-10">
                <h3>CARBON FIBER RODS</h3>
                <p>I'll be honest, we haven't shopped around much in this area, but we love ACP Composites. They make a great product.</p>
                <p>You will need a 455mm and 360mm piece.</p>
                <p>Link to ACP Composites</p>
              </div>
            </div><!--/list-item --->

            <div class="list-item">
              <div class="col-xs-2">
                <img class="check" src="/assets/images/check.svg">
              </div>
              <div class="col-xs-10">
                <h3>BOW</h3>
                <p>Bows can also be expensive, we are fans of high value, low cost</p>
                <p>Here are a few brands of bows that we support.</p>
                <ul>
                  <li>Strings 1</li>
                  <li>Strings 2</li>
                  <li>Strings 3</li>
                </ul>
              </div>
            </div><!--/list-item --->
            <div class="list-item">
              <div class="col-xs-2">
                <img class="check" src="/assets/images/check.svg">
              </div>
              <div class="col-xs-10">
                <h3>Extras</h3>
                <ul>
                  <li>100, 300, and 600 grit sandpaper</li>
                  <li>Pencil sized sanding file</li>
                  <li>Socket wrench and 10 mm socket head</li>
                </ul>
              </div>
            </div><!--/list-item --->

          </div>
        </div><!--/row -->
      </div><!--/container -->
    </div>
    <div id="print-the-parts" class="step">
        <div class="container">
          <p class="number">2</p>
          <p class="title">3D Print the parts</p>
          <div class="row">
            <div class="col-sm-6">
              <img class="3dprinter-icon" src="/assets/images/print-parts/printer.svg">
            </div>
            <div class="col-sm-6">
              <h3>New to 3D printing?</h3>
              <p>In order to make the violin we’re going to need a 3D printer. It needs to be wide enough to print the neck and tall enough to print the violin body’s 3 sections.</p>
              <h4>First layer problems</h4>
              <p>A majority of the problems from 3d printing can stem from the first layer not adhering properly to the print bed.</p>
              <p>We recommend taking the following precautions when printing.</p>
              <ul>
                <li>Always make sure the bed is properly leveled</li>
                <li>Put down fresh blue tape if any of the print area's tape shows signs of peeling.</li>
                <li> * extra credit * Sand the blue tape with 100 grit sandpaper to help prevent warping</li>
              </ul>
              <p>We're not trying to write the book on 3d printing. A great first step down the rabbit hole can be found <a href="http://reprap.org/wiki/The_incomplete_RepRap_Prusa_Mendel_beginner's_guide">here.</a>
              <p>All together, the violin will take ~500 grams of plastic to print. Assuming there aren't too many failed prints, you should be able to make the entire hovalin with a single 1kg roll of plastic.</p>

            </div>
          </div>
        </div>
      </div>

      <div id="the-neck" class="std-padding part">
        <div class="container">
          <div class="row">
            <div class="col-xs-7">
              <h2>The Neck <i class="fa fa-download"></i></h2>
              <h4>PARAMETERS</h4>
              <p>Layer Height: .1mm </p>
              <p>Infill: 50%</p>
              <p>Perimeters: 3  </p>
              <p class="justify hidden-xs description-text"></p>
            </div>
            <div class="col-xs-5">
              <img class="hovalin-neck"src="/assets/images/print-parts/hovalin_neck.svg">
            </div>
            <div class="col-xs-12">
              <p class="justify visible-xs description-text"></p>
            </div>
            <div class="buttons">
              <div class="col-xs-6 gray-btn">
                <p><span class="number">8</span> PRINT HOURS</p>
              </div>
              <div class="col-xs-6 white-btn">
                <p><span class="number">80</span>g PLASTIC</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="the-top" class="std-padding part">
        <div class="container">
          <div class="row">
            <div class="col-xs-7">
              <h2>The Top <i class="fa fa-download"></i></h2>
              <h4>PARAMETERS</h4>
              <p>Layer Height: .3mm </p>
              <p>Infill: 50%</p>
              <p>Perimeters: 2  </p>
              <p class="justify hidden-xs description-text"></p>
            </div>
            <div class="col-xs-5">
              <img class="hovalin-top"src="/assets/images/print-parts/hovalin_top.svg">
            </div>
            <div class="col-xs-12">
              <p class="justify visible-xs description-text"></p>
            </div>
          </div>
          <div class="buttons">
            <div class="col-xs-6 gray-btn">
              <p><span class="number">11</span> PRINT HOURS</p>
            </div>
            <div class="col-xs-6 white-btn">
              <p><span class="number">147</span>g PLASTIC</p>
            </div>
          </div>
        </div>
      </div>

      <div id="the-face" class="std-padding part">
        <div class="container">
          <div class="row">
            <div class="col-xs-7">
              <h2>The Middle<i class="fa fa-download"></i></h2>
              <h4>PARAMETERS</h4>
              <p>Layer Height: 0.3mm </p>
              <p>Infill: 50%</p>
              <p>Perimeters: 2  </p>
              <p class="justify hidden-xs description-text"></p>
            </div>
            <div class="col-xs-5">
              <img class="hovalin-face"src="/assets/images/print-parts/hovalin_face.svg">
            </div>
            <div class="col-xs-12">
              <p class="justify visible-xs description-text"></p>
            </div>
          </div>
          <div class="buttons">
            <div class="col-xs-6 gray-btn">
              <p><span class="number">7</span> PRINT HOURS</p>
            </div>
            <div class="col-xs-6 white-btn">
              <p><span class="number">94</span>g PLASTIC</p>
            </div>
          </div>
        </div>
      </div>

      <div id="the-bottom" class="std-padding part">
        <div class="container">
          <div class="row">
            <div class="col-xs-7">
              <h2>The Bottom<i class="fa fa-download"></i></h2>
              <h4>PARAMETERS</h4>
              <p>Layer Height: 0.3mm </p>
              <p>Infill: 50%</p>
              <p>Perimeters: 2  </p>
              <p class="justify hidden-xs description-text"></p>
            </div>
            <div class="col-xs-5">
              <img class="hovalin-bottom"src="/assets/images/print-parts/hovalin_bottom.svg">
            </div>
            <div class="col-xs-12">
              <p class="justify visible-xs description-text"></p>
            </div>
          </div>
          <div class="buttons">
            <div class="col-xs-6 gray-btn">
              <p><span class="number">7</span> PRINT HOURS</p>
            </div>
            <div class="col-xs-6 white-btn">
              <p><span class="number">94</span>g PLASTIC</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="sand-the-neck" class="step">
      <p class="number">3</p>
      <div class="container">
        <p class="title">Sand the violin neck</p>
        <p>Sanding the violin neck will help get rid of any buzzing overtones. It can also give the violin a more finished look. I've had good results by sanding at 100 grit, then moving on to 300, and then 600 grit sandpaper. For extra credit, you can try sanding the rest of the pieces as well.</p>
      </div>
    </div>
    <div id="install-pegs" class="step">
      <p class="number">4</p>
      <div class="container">
        <p class="title">Install Tuner Pegs</p>
        <p>Insert the tuning pegs into the violin neck as shown in the picture. Once the pegs are pushed into place, screw in the top piece, first by hand, then using a 10mm hex wrench.</p>
      </div>
    </div>
    <div id="install-carbon" class="step">
      <p class="number">5</p>
      <div class="container">
        <p class="title">Install Carbon Fiber Rods</p>
        <p>Feed the longer carbon fiber rod (455 mm) through the bottom of the neck towards the top until it is flush with the top of the neck. Then feed the shorter carbon fiber rod (360 mm) into the small hole in the back of the neck. Now slide the violin body's top piece onto the two rods, followed by the middle piece, and finally, the bottom piece. Make sure that all violin pieces are flush with each other.</p>
      </div>
    </div>
    <div id="install-strings" class="step">
      <p class="number">6</p>
      <div class="container">
        <p class="title">Install Strings</p>
        <p>Starting with the thickest string (G), feed the string through the hole at the base of the violin and then through the tuning peg hole. Make sure that each string is forced downward by tightening it with enough slack.</p>
      </div>
    </div>
    <!--<section class="post-content">
        {{content}}
    </section> -->

</article>
</main>
{{/post}}
