{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}
        {{/if}}
    </nav>
</header>

<main class="content" role="main">
    <article class="">
      <div class="black-bg">
        <div id="docs-hero">
          <h1>Let's make a violin</h1>
        </div><!--/hero -->
      </div>

      <div id="docs-subnav">
        <div class="container">
          <div class="row">
            <div class="col-xs-5ths">
              <p class="number">1</p>
              <p>Shopping list</p>
            </div>
            <div class="col-xs-5ths">
              <p class="number">2</p>
              <p>3D printer check in</p>
            </div>
            <div class="col-xs-5ths">
              <p class="number">3</p>
              <p>Install pegs</p>
            </div>
            <div class="col-xs-5ths">
              <p class="number">4</p>
              <p>Install rods</p>
            </div>
            <div class="col-xs-5ths">
              <p class="number">5</p>
              <p>Install strings</p>
            </div>
          </div><!--/row -->
        </div><!--/container -->
      </div> <!--/docs-subnav -->

      <div id="shoppinglist" class="step">
        <div class="container">
          <p class="number">1</p>
          <p class="title">Shopping List</p>

          <div class="row">
            <div class="col-md-6">

              <div class="list-item">
                <div class="col-xs-2">
                  <img class="check" src="/assets/images/check.svg">
                </div>
                <div class="col-xs-10">
                  <h4>3D PRINTER</h4>
                  <p>We recommend using the super awesome printer called the dremmel.printer called the dremmel.  </p>
                </div>
              </div><!--/list-item --->

              <div class="list-item">
                <div class="col-xs-2">
                  <img class="check" src="/assets/images/check.svg">
                </div>
                <div class="col-xs-10">
                  <h4>PLASTIC</h4>
                  <p>We recommend using the super awesome printer called the dremmel.printer called the dremmel.  </p>
                </div>
              </div><!--/list-item --->

              <div class="list-item">
                <div class="col-xs-2">
                  <img class="check" src="/assets/images/check.svg">
                </div>
                <div class="col-xs-10">
                  <h4>TUNERS</h4>
                  <p>We recommend using the super awesome printer called the dremmel.printer called the dremmel.  </p>
                </div>
              </div><!--/list-item --->

            </div>
            <div class="col-md-6">

              <div class="list-item">
                <div class="col-xs-2">
                  <img class="check" src="/assets/images/check.svg">
                </div>
                <div class="col-xs-10">
                  <h4>STRINGS</h4>
                  <p>We recommend using the super awesome printer called the dremmel.printer called the dremmel.  </p>
                </div>
              </div><!--/list-item --->

              <div class="list-item">
                <div class="col-xs-2">
                  <img class="check" src="/assets/images/check.svg">
                </div>
                <div class="col-xs-10">
                  <h4>CARBON FIBER RODS</h4>
                  <p>We recommend using the super awesome printer called the dremmel.printer called the dremmel.  </p>
                </div>
              </div><!--/list-item --->

              <div class="list-item">
                <div class="col-xs-2">
                  <img class="check" src="/assets/images/check.svg">
                </div>
                <div class="col-xs-10">
                  <h4>BOW</h4>
                  <p>We recommend using the super awesome printer called the dremmel.printer called the dremmel.  </p>
                </div>
              </div><!--/list-item --->

            </div>
          </div><!--/row -->
        </div><!--/container -->
      </div>

      <section class="post-content">
          {{content}}
      </section>

    </article>
</main>
{{/post}}
